<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - AgroCesar</title>
</head>
<body>
    <h2>Iniciar Sesión — AgroCesar</h2>

    <div th:if="${param.error}">
        <p style="color:red">Email o contraseña incorrectos.</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green">Sesión cerrada correctamente.</p>
    </div>

    <form th:action="@{/login}" method="post">
        <label>Email:
            <input type="text" name="username" placeholder="agricultor@test.com"/>
        </label>
        <br/>
        <label>Contraseña:
            <input type="password" name="password" placeholder="1234"/>
        </label>
        <br/>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>